#home {
  // disable the default padding styles
  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 90vh;
  flex-direction: row;

  background-color: var(--navy-color);

  padding: 6rem 2rem 0rem;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.header-left {
  display: flex;
  position: relative;
  flex:1;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);

  h1 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 3px;
    display: block;

    @media screen and (max-width: 450px) {
      font-size: 1rem;
    }
  }

  .blur {
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    z-index: 0;
    filter: blur(100px);

    @media screen and (max-width: 900px) {
      margin-top: 5rem;
      margin-left: -10rem;
      transform: scale(0.5);
    }
  }
}

.blur {
  position: absolute;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  z-index: 0;
  filter: blur(100px);
}

.header-right {
  display: flex;
  flex: 1;
  justify-content: center;
}